body{
	background-color: #ececec;
}
#banner {
    height: 46vw;
    background-image: url(../img/background_dalibskolas.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.capture{display:none;}
#buttons{
	position: absolute;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    top: 25vw;
    width: 100%;
    justify-content: center;
}
#buttons button{
    font-family: "Poppins", sans-serif;
    background-color: rgba(255,255,255,0.2);
    color: white;
    font-size: 1vw;
    padding: 0.5vw 1vw;
    margin: 1vw;
    border: 1px solid rgba(255,255,255,0.2);
	cursor: pointer;
}
#buttons button:hover{
	color: #2cc654;
	background-color: rgba(35,192,76,0.2);
	border: 1px solid rgba(35,192,76,0.2);
}
#dalibskolas_content{
	padding-top: 6vw;
	padding-bottom: 6vw;
}
#map{
	width: 60%;
    margin: auto;
}
#map img{
	width: 100%;
}
.skolas{
	font-family: "Poppins", sans-serif;
}
.skolas h1{
	margin: 1vw;
    font-size: 1.1vw;
    color: rgb(0,0,0);
    line-height: 1.5vw;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}
.skolas table{
	width: 50%;
	margin: auto;
	font-size: 0.6vw;
}
.skolas table p{
	margin: 0vw;
    color: rgb(0,0,0);
    line-height: 0.8vw;
    font-weight: 400;
}
@media screen and (max-width: 900px){
}